body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff; }

.menuBar {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1; }
  .menuBar .ant-menu-horizontal > .ant-menu-item {
    top: 0; }

.logo {
  width: 150px;
  float: left; }

.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize; }

.menuCon {
  width: calc(100% - 170px);
  float: left; }

.menuCon .ant-menu-item {
  padding: 0px 5px; }

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px; }

.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a {
  padding: 10px 15px; }

.menuCon .ant-menu-horizontal {
  border-bottom: none; }

.menuCon .leftMenu {
  float: left; }

.menuCon .rightMenu {
  float: right; }

.barsMenu {
  float: right;
  height: 45px;
  padding: 12px;
  margin-top: 8px;
  display: none;
  background: none; }
  .barsMenu .anticon {
    font-size: 23px;
    color: #207A3D; }

.ant-drawer-body {
  padding: 0; }

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%; }

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none; }

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent; }

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block; }
  .leftMenu, .rightMenu {
    display: none; }
  .logo a {
    margin-left: -20px; }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title {
    padding: 1px 20px; }
  .logo a {
    padding: 10px 20px; } }

.content-jp {
  max-width: 1140px;
  margin: 0 auto; }

#footer {
  background-color: #ebecec;
  padding: 0px 16px; }
  #footer #footer-body {
    max-width: 1140px;
    margin: 0 auto; }
    #footer #footer-body .ant-page-header {
      background-color: #ebecec; }
    #footer #footer-body .ant-divider {
      background-color: #cdcdcd;
      margin: 16px 0; }

.ant-notification {
  width: 100px;
  margin-left: 0px;
  margin-bottom: 0px; }
  .ant-notification .ant-notification-notice-close {
    display: none; }
  .ant-notification .ant-notification-notice {
    padding: 12px 12px 0px 24px; }

.badgeCart {
  position: fixed;
  bottom: 24px;
  left: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 12px 24px 6px 12px;
  z-index: 99999;
  background: #fff; }

.col-table-order {
  padding: 5px !important; }
  .col-table-order .ant-input-number {
    width: 60px; }

.num-keybroad {
  width: 200px; }
  .num-keybroad button {
    height: 50px;
    width: 50px; }

.order-page-input input {
  background: #fff;
  font-size: 16px;
  text-align: center;
  color: #333333; }

.about-content {
  margin-top: 24px;
  padding: 0 16px; }

.home-hot-product .home-hot-product-item {
  height: 230px;
  border: .5px solid #ccc;
  border-left: none;
  padding: 15px;
  border-top: none;
  box-shadow: 0px 0px 6px #d8d8d8;
  margin: 8px; }
  .home-hot-product .home-hot-product-item img {
    max-height: 130px;
    max-width: 100%; }
  .home-hot-product .home-hot-product-item h3, .home-hot-product .home-hot-product-item p {
    margin-top: 12px; }

.ant-carousel {
  height: 250px;
  text-align: center;
  overflow: hidden; }
  .ant-carousel .slick-slide {
    height: 280px; }
