$color-header: #008388;
$office-color: #008388;
$active-color: #006064;
$white-color: #fff;
$black-color: #000;
$border-input: #e0e0e0;
$border-color: #e0e0e0;
$shadow-color: #dcdcdc;
$date-color: #eeeeee;
$last-border: #bdbdbd;
$input-login-color: #545454;
$icon-color: #616161;
$weekend-color: #d50000;
$saturday-color: #3f51b5;
$nyutaishoJokyo: #e0f7fa;
$nyushoKubunColor1: #FFC107; // join room
$nyushoKubunColor2: #009688; // change room
$tempBookColor: #e57373;
$shortColor: #FFFDE7;
$taishoKubunColor1: #00bcd4; // sleep out side
$taishoKubunColor2: #d81b60; // join hospital
$scollModal: #4D4949;
$highlightedColor: #999999;
$headingBackground: #EEE;
$pointerBgColor: #f3f3f3;
$border-calendar: #ddd;
